.milkdown {
    min-width: 1050px;
    border-radius: 10px;
    box-shadow: var(--crepe-shadow-2);
    overflow-y: auto;
    height: 700px;
    max-height: 700px;
}

.milkdown .ProseMirror {
    padding: 6px 24px;
    background-color: var(--crepe-color-surface);
    min-height: 700px;
}
.milkdown .ProseMirror p {
    font-size: 1.1rem;
    line-height: 1.8;
    margin: 10px 0;
}
.image-wrapper {
    padding: 24px 0;
}
.milkdown-theme-dark {
  --crepe-color-background: #2a251e;
  --crepe-color-on-background: #eae1d9;
  --crepe-color-surface: #18120b;
  --crepe-color-surface-low: #201b13;
  --crepe-color-on-surface: #ede0d4;
  --crepe-color-on-surface-variant: #d3c4b4;
  --crepe-color-outline: #9c8f80;
  --crepe-color-primary: #f4bd6f;
  --crepe-color-secondary: #56442a;
  --crepe-color-on-secondary: #fbdebc;
  --crepe-color-inverse: #ede0d4;
  --crepe-color-on-inverse: #362f27;
  --crepe-color-inline-code: #ffb4ab;
  --crepe-color-error: #ffb4ab;
  --crepe-color-hover: #251f17;
  --crepe-color-selected: #3b342b;
  --crepe-color-inline-area: #3f3830;

  --crepe-font-title: Georgia, Cambria, 'Times New Roman', Times, serif;
  --crepe-font-default: 'Open Sans', Arial, Helvetica, sans-serif;
  --crepe-font-code:
    Fira Code, Menlo, Monaco, 'Courier New', Courier, monospace;

  --crepe-shadow-1:
    0px 1px 2px 0px rgba(255, 255, 255, 0.3),
    0px 1px 3px 1px rgba(255, 255, 255, 0.15);
  --crepe-shadow-2:
    0px 1px 2px 0px rgba(255, 255, 255, 0.3),
    0px 2px 6px 2px rgba(255, 255, 255, 0.15);
}
.milkdown-theme-light {
  --crepe-color-background: #fffdfb;
  --crepe-color-on-background: #1f1b16;
  --crepe-color-surface: #fff8f4;
  --crepe-color-surface-low: #fff1e5;
  --crepe-color-on-surface: #201b13;
  --crepe-color-on-surface-variant: #4f4539;
  --crepe-color-outline: #817567;
  --crepe-color-primary: #805610;
  --crepe-color-secondary: #fbdebc;
  --crepe-color-on-secondary: #271904;
  --crepe-color-inverse: #362f27;
  --crepe-color-on-inverse: #fcefe2;
  --crepe-color-inline-code: #ba1a1a;
  --crepe-color-error: #ba1a1a;
  --crepe-color-hover: #f9ecdf;
  --crepe-color-selected: #ede0d4;
  --crepe-color-inline-area: #e4d8cc;

  --crepe-font-title: Georgia, Cambria, 'Times New Roman', Times, serif;
  --crepe-font-default: 'Open Sans', Arial, Helvetica, sans-serif;
  --crepe-font-code:
    Fira Code, Menlo, Monaco, 'Courier New', Courier, monospace;

  --crepe-shadow-1:
    0px 1px 3px 1px rgba(0, 0, 0, 0.15), 0px 1px 2px 0px rgba(0, 0, 0, 0.3);
  --crepe-shadow-2:
    0px 2px 6px 2px rgba(0, 0, 0, 0.15), 0px 1px 2px 0px rgba(0, 0, 0, 0.3);
}
