.dark-editor {
    min-height: 500px;
    min-width: 1050px;
    --basePageBg: black;
    background: #141414;
    border: 1px solid #424242;
    border-radius: 6px;
}
.white-editor {
    min-width: 1050px;
    min-height: 500px;
    --basePageBg: white;
    background: white;
    border: 1px solid #d9d9d9;
    border-radius: 6px;
}
