.dark-editor {
    min-width: 1050px;
    height: 70vh;
    width: 100%;
    overflow-y: auto;
    --basePageBg: black;
    background: #141414;
    border: 1px solid #424242;
    border-radius: 6px;
}
.white-editor {
    min-width: 1050px;
    height: 70vh;
    width: 100%;
    overflow-y: auto;
    --basePageBg: white;
    background: white;
    border: 1px solid #d9d9d9;
    border-radius: 6px;
}
.mdxeditor-popup-container {
    display: none !important;
}
